# Fichiers temporaires gedit
*~

# Fichiers et dossiers Projet Qt
*.pro.user
*-Debug
moc_*

# Fichiers et dossiers de compilation
_*
*moc_dir/
*obj_dir/
*.o

# Exécutable
Application/Poker
Application/*/Poker

# Fichiers de résultat générés
Application/ressources/Profilage/ProfilageStatique/*.csv
