# Fichiers temporaires gedit
*~

# Fichiers et dossiers Projet Qt
*.pro.user
*-Debug
moc_*

# Fichiers de compilation
*tmp/
*.o
Application/Makefile

# Exécutable
Application/Poker
Application/*/Poker

